@import '../../variables/variables';

.switch-theme {

  &_position_header {
    display: none;
  }

  @media screen and (max-width: 767px) {
    &_position_header {
      display: block;
    }
  }

  &__invisible-checkbox {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
    align-items: center;
    cursor: pointer;
  }

  &__icon_theme_light {
    background-image: url(../../images/switch-theme/sun.svg);
    width: 28px;
    height: 28px;
  }

  &__selector {
    display: inline-block;
    padding: 12px 0 12px 44px;
    margin: 0;
    position: relative;
  }

  &__selector::before,
  &__selector::after {
    content: '';
    position: absolute;
    top: 50%;
    transition: .3s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  &__selector::before{
    left: 0;
    height: 24px;
    margin-top: -12px;
    width: 44px;
    background: $colorTitleDarkTheme;
    border-radius: 9999px;
  }
  &__selector::after{
    left: 2px;
    height: 20px;
    width: 20px;
    margin-top: -9px;
    background: #24B47E;
    box-shadow: 0 0 0 #FFFFFF;
    border-radius: 9999px;
  }
  &__selector_theme_dark::before{
    background: #545454;
  }
  &__invisible-checkbox:checked + &__selector::after{
    left: 23px;
  }

  &__icon_theme_dark {
    background-image: url(../../images/switch-theme/moon.svg);
    width: 20px;
    height: 20px
  }
  &_position_header {
    margin: 316px 0 38px 0;
  }
  &_position_footer {
    grid-row: 3 / 4;
    align-self: end;
    justify-self: end;
  }
}
