$darkTheme: #333;
$colorTitleDarkTheme: #FFF;
$colorTextDarkTheme: #E6E6E6;
$colorDescriptionDarkTheme: #E5E5E5;
$darkThemeFooter: #2F2F2F;

$lightTheme: #F4F4F4;
$lightThemeFooter: #EFEFEF;
$colorTitleLightTheme: #151515;
$colorTextLightTheme: #222;
$colorDescriptionLightTheme: #222;

$font-stack: Inter, Arial, sans-serif;

