@import '../../variables/variables';

.page {
  //overflow: hidden;
  font-family: $font-stack;
  background-color: $whiteTheme;
  color: $colorTitleWhiteTheme;
  box-sizing: border-box;
  margin: 0;
  &_theme_dark {
    background-color: $blackTheme;
    color: $colorTitleBlackTheme;
  }
}

