@import '../../variables/variables';

.header {
  background-color: inherit;
  max-width: 1440px;
  width: 100%;

  &__container {
    align-items: center;
    background-color: inherit;
    max-width: 1200px;
    width: 100%;
    min-height: 74px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    justify-content: flex-end;
    position: relative;
  }
&__nav {
  background-color: inherit;
}
  &__menu {
    background-color: inherit;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 34px;
    padding: 0;
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    &__menu {
      visibility: hidden;
      opacity: 0;
      align-items: center;
      position: absolute;
      flex-direction: column;
      row-gap: 32px;
      left: 0;
      min-height: 496px;
      padding-top: 70px;
      top: 74px;
      transition: visibility .25s ease-in-out, opacity .25s ease-in-out;
    }
  }
  @media screen and (max-width: 767px) {
    &__menu_opened {
      visibility: visible;
      opacity: 1;
    }
  }
}
