@import '../../variables/variables';

.link {
  text-decoration: none;
  transition: opacity .25s ease-in-out;
  color: $colorTextWhiteTheme;
  font-style: normal;

  &_position_header {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    &_position_header:hover {
      opacity: .75;
    }
  }

  @media screen and (max-width: 767px) {
    &_position_header {
      font-size: 18px;
      text-align: center;
    }
  }
  &_theme_dark {
    color: $colorTextBlackTheme;
  }
}
.link:hover {
  cursor: pointer;
}

