$blackTheme: #333333;
$colorTitleBlackTheme: #FFF;
$colorTextBlackTheme: #E6E6E6;

$whiteTheme: #F4F4F4;
$colorTitleWhiteTheme: #151515;
$colorTextWhiteTheme: #222222;

$font-stack: Inter, Arial, sans-serif;

