.button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: visibility .25s ease-in-out, opacity .25s ease-in-out;

  &_type_menu {
    background-image: url(../images/header/icon-burger.svg);
    background-repeat: no-repeat;
    background-size: contain;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;

    @media screen and (max-width: 767px) {
      margin-right: 18px;
      visibility: visible;
      opacity: 1;
      width: 22px;
      height: 22px;
      margin-bottom: 4px;
    }
  }

  &_type_menu-theme-dark {
    background-image: url(../images/header/icon-burger-theme-dark.svg);
  }
  &_type_close {
    background-image: url(../images/header/icon-close.svg);
    width: 32px;
    height: 32px;
    margin-right: 13px;
  }
  &_type_close-theme-dark {
    background-image: url(../images/header/icon-close-theme-dark.svg);
  }
  &_type_submit {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 15%;
    right: 11px;
    width: 16px;
    height: 28px;
    color: inherit;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    text-align: right;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

