.logo {
  background-image: url(../images/footer/logo.svg);
  background-size: contain;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  align-self: end;
  justify-self: end;

  &_position_footer {
    @media screen and (max-width: 767px) {
      display: block;
      grid-row: 3 / 4;
    }
  }
}
