@import '../../variables/variables';

.page {
  font-family: $font-stack;
  background-color: $lightTheme;
  color: $colorTitleLightTheme;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;

  &_theme_dark {
    background-color: $darkTheme;
    color: $colorTitleDarkTheme;
  }
}

