.training {
  padding: 150px 0 120px 0;
  @media screen and (max-width: 1023px) {
    padding: 40px 18px 60px;
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 460px 580px;
    grid-template-rows: 60px repeat(2, 2fr);
    row-gap: 44px;
    justify-content: space-between;
    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-template-rows: 40px 1fr 90px 20px;
    }
  }


  &__image-container {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    @media screen and (max-width: 1023px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__description {
    @media screen and (max-width: 1023px){
      grid-row: 3 / 4;
    }
  }
  &__application {
    list-style: none;
    padding: 0;
    margin: 0 0 12px 0;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-self: end;
    @media screen and (max-width: 1023px){
      grid-row: 4 / 5;
    }
  }

  &__image {
    max-width: 580px;
    width: 100%;
  }

}
