.switch-bicycles {
  transition: opacity .25s ease-in-out, font-weight .25s ease-in-out;
  display: block;
  @media screen and (max-width: 1279px){
    padding: 8px 10px;
  }

  &__invisible-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__visible-radio {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    opacity: .7;

    @media screen and (max-width: 1279px){
      font-weight: 600;
      font-size: 11px;
      line-height: 14px;
    }
  }

  &__invisible-radio:checked + &__visible-radio {
    opacity: 1;
    font-weight: 600;

  }

  &:hover {
    opacity: .6;
    cursor: pointer;
  }

}


